@import './bootstrap.min.css';

body {
  font-family: 'Poppins';
}

.custom-rounded {
    border-radius: 15px !important;
}

.custom-rounded-card-header {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.bg-black-50 {
    background-color: #303030;
}

.btn-circle {
    border-radius: 50%;
}

.btn-small {
    width: 30px;
    height: 30px;
}

/* Untuk Chrome, Safari, Edge, dan Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Untuk Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.player .show-hover {
    display: none;
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Efek transisi */
}

.player:hover .show-hover {
    display: block; /* Tampilkan elemen saat parent di-hover */
    opacity: 1; /* Ubah opacity untuk efek fade-in */
    visibility: visible;
}

/* Tablet: untuk layar dengan lebar minimal 768px */
@media (min-width: 768px) {
    .title-app {
        font-size: 24px
    }
}